html {
    font-size: 10px;
}

header{
    display: flex;
    justify-content:center;
    font-size: 4rem;
}

.header_icon{
    width: 5rem;
    height: 5rem;
}

.sentaku{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    
}

.footer_icon{
    width: 4rem;
    height: 4rem;
}